.navBar 
    .contenedor 
        .logo
            a(href="/")                      
                img(src="../img/logo.svg" alt="Logo")
                h3 Alexa Skills for esp32
        .navegacion 
            ul 
                li
                    a(href="#") Apis
                li
                    a(href="#") Documentación
                li
                    a(href="#") Conócenos