nav.nav 
    .contenedor 
        .nav__listlogo 
            a(href="/") 
                img(src="img/logo.svg", alt="Logo")
                h3 Alexa Skills for esp32
        ul.nav__list          
            li.nav__listitem Apis 
                ul.nav__listitemdrop
                    a(href="https://api-esp32-alexa-v2.herokuapp.com/api/users") Lista Usuarios 
                    a(href="https://api-esp32-alexa-v2.herokuapp.com/api/devices") Devices
                    a(href="#") Consumo MQTT
            li.nav__listitem Equipo
                ul.nav__listitemdrop
                    li Desarrollo
                    li Acerca de
            li.nav__listitem Documentación
                ul.nav__listitemdrop
                    li Desarrollo Alexa Skills
                    li Acerca de
            li.nav__listitem Contacto

